
.App {
  text-align: center;
}

.button {
  background-color:#5ec3e9 ;
  border: none;
  border-radius: 13px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px ;
}

.back {
  margin-bottom: 40px;
}

